<div style="width: 225px; background: #dd3910">
    <a class="navbar-brand ps-3" href="{{ url('index') }}">
        <img src="{{ static('assets/img/am-logo.png') }}" style="height: var(--navbar-height)" />
        <span style="font-size: x-small">Notebooks</span>
    </a>
</div>
