<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background: #dd3910">
    {% include 'includes/brand.jinja2' %}
    {% include 'includes/toggle.jinja2' %}
    {# include 'includes/search.jinja2' #}
    {# include 'includes/dropdown.jinja2' #}
    {% include 'includes/menu.jinja2' %}
</nav>
