{% extends "base.jinja2" %}

{% macro top_content() %}
    Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official
    <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
    .
{% endmacro %}

{% macro area_chart_canvas() %}
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
{% endmacro %}

{% macro bar_chart_canvas() %}
    <canvas id="myBarChart" width="100%" height="50"></canvas>
{% endmacro %}

{% macro pie_chart_canvas() %}
    <canvas id="myPieChart" width="100%" height="50"></canvas>
{% endmacro %}

{% macro area_chart() %}
    {% set __area_chart_content = {
        "icon": "fas fa-chart-area me-1",
        "title": "Area Chart Example",
        "body": area_chart_canvas(),
        "footer": "Updated yesterday at 11:59 PM"
    } %}

    {{ cards_factory.get_content_card(__area_chart_content) }}
{% endmacro %}

{% macro bar_chart() %}
    {% set __bar_chart_content = {
        "icon": "fas fa-chart-bar me-1",
        "title": "Bar Chart Example",
        "body": bar_chart_canvas(),
        "footer": "Updated yesterday at 11:58 PM"
    } %}

    {{ cards_factory.get_medium_content_card(__bar_chart_content) }}
{% endmacro %}

{% macro pie_chart() %}
    {% set __pie_chart_content = {
        "icon": "fas fa-chart-pie me-1",
        "title": "Pie Chart Example",
        "body": pie_chart_canvas(),
        "footer": "Updated yesterday at 11:57 PM"
    } %}

    {{ cards_factory.get_medium_content_card(__pie_chart_content) }}
{% endmacro %}

{% macro two_charts() %}
    {{ bar_chart() }}
    {{ pie_chart() }}
{% endmacro %}

{% block content %}
    {{ content_factory.get_title("Charts") }}

    {%  set __breadcrumb = {
        "crumbs": [
            {"href": url("index"), "text": "Dashboard"},
        ],
        "current": "Charts"
    } %}

    {{ content_factory.get_breadcrumb(__breadcrumb) }}
    {{ cards_factory.get_text_card(top_content()) }}
    {{ area_chart() }}
    {{ cards_factory.get_content_row(two_charts()) }}
{% endblock %}

{% block specific_scripts %}
    <script src="{{ static('assets/demo/chart-area-demo.js') }}"></script>
    <script src="{{ static('assets/demo/chart-bar-demo.js') }}"></script>
    <script src="{{ static('assets/demo/chart-pie-demo.js') }}"></script>
{% endblock %}