{% macro get_title(_title) %}
    <div class="sb-sidenav-menu-heading">{{ _title }}</div>
{% endmacro %}

{% macro get_block_links(_block, _level, _breadcrumb, _check_active) %}
    {% if _block.links %}
        {{ get_links(_block.links, _level, _breadcrumb, _check_active) }}
    {% endif %}
{% endmacro %}

{% macro get_links(_links, _level, _breadcrumb, _check_active) %}
    {% for __link in _links %}
        {{ get_link(__link, _level, _breadcrumb, _check_active) }}
    {% endfor %}
{% endmacro %}

{% macro get_link(_link, _level, _breadcrumb, _check_active) %}
    {% set __state = "" %}

    {% if _level == 1 %}
        {% if _check_active and _breadcrumb.link1 and _breadcrumb.link1.slug == _link.slug %}
            {{ get_active_link(_link) }}
        {% else %}
            {{ get_inactive_link(_link) }}
        {% endif %}
    {% elif _level == 2 %}
        {% if _check_active and _breadcrumb.link2 and _breadcrumb.link2.slug == _link.slug %}
            {{ get_active_link(_link) }}
        {% else %}
            {{ get_inactive_link(_link) }}
        {% endif %}
    {% elif _level == 3 %}
        {% if _check_active and _breadcrumb.link3 and _breadcrumb.link3.slug == _link.slug %}
            {{ get_active_link(_link) }}
        {% else %}
            {{ get_inactive_link(_link) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro get_active_link(_link) %}
    <a class="nav-link active" href="{{ url('data', args=[_link.data_page]) }}">
        {{ get_link_text(_link, "fa-solid fa-table") }}
    </a>
{% endmacro %}

{% macro get_inactive_link(_link) %}
    <a class="nav-link" href="{{ url('data', args=[_link.data_page]) }}">
        {{ get_link_text(_link, "fa-solid fa-table") }}
    </a>
{% endmacro %}

{% macro get_link_text(_parent, _default) %}
    {% if _parent.icon %}
        <div class="sb-nav-link-icon"><i class="{{ _parent.icon }}"></i></div>
    {% else %}
        <div class="sb-nav-link-icon"><i class="{{ _default }}"></i></div>
    {% endif %}

    {{ _parent.menu}}
{% endmacro %}

{% macro get_block_menu(_block) %}
    {{ get_link_text(_block, "fas fa-bars") }}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
{% endmacro %}

{% macro get_one_level_menu(_links, _breadcrumb) %}
    {{ get_links(_links, 1, _breadcrumb, true) }}
{% endmacro %}

{% macro get_two_level_menu(_block, _breadcrumb) %}
    {% set __id = "block_" + _block.slug %}

    {% if _breadcrumb.block1 and _breadcrumb.block1.name == _block.name %}
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __id }}" aria-expanded="true" aria-controls="{{ __id }}">
            {{ get_block_menu(_block) }}
        </a>

        <div class="collapse show" id="{{ __id }}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                {{ get_block_links(_block, 2, _breadcrumb, true) }}
            </nav>
        </div>
    {% else %}
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __id }}" aria-expanded="false" aria-controls="{{ __id }}">
            {{ get_block_menu(_block) }}
        </a>

        <div class="collapse" id="{{ __id }}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                {{ get_block_links(_block, 2, _breadcrumb, false) }}
            </nav>
        </div>
    {% endif %}

    {{ get_links(_links, 2, _breadcrumb, true) }}
{% endmacro %}

{% macro get_three_level_menu(_block, _breadcrumb) %}
    {% set __id = "block_" + _block.slug %}

    {% if _breadcrumb.block1 and _breadcrumb.block1.name == _block.name %}
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __id }}" aria-expanded="true" aria-controls="{{ __id}}">
            {{ get_block_menu(_block) }}
        </a>

        <div class="collapse show" id="{{ __id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="{{ __id}}_accordion">
                {% for __sub_block in _block.blocks %}
                    {% set __sub_id = __id + "_" + __sub_block.slug %}

                    {% if _breadcrumb.block2 and _breadcrumb.block2.name == __sub_block.name %}
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __sub_id }}" aria-expanded="true" aria-controls="__sub_id">
                            {{ get_block_menu(__sub_block) }}
                        </a>

                        <div class="collapse show" id="{{ __sub_id }}" aria-labelledby="headingOne" data-bs-parent="#{{ __id}}_accordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                {{ get_links(__sub_block.links, 3, _breadcrumb, true) }}
                            </nav>
                        </div>
                    {% else %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __sub_id }}" aria-expanded="false" aria-controls="__sub_id">
                            {{ get_block_menu(__sub_block) }}
                        </a>

                        <div class="collapse" id="{{ __sub_id }}" aria-labelledby="headingOne" data-bs-parent="#{{ __id}}_accordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                {{ get_links(__sub_block.links, 3, _breadcrumb, false) }}
                            </nav>
                        </div>
                    {% endif %}
                {% endfor %}
            </nav>

            <nav class="sb-sidenav-menu-nested nav">
                {{ get_block_links(_block, 2, _breadcrumb, false) }}
            </nav>
        </div>

    {% else %}
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __id }}" aria-expanded="false" aria-controls="{{ __id}}">
            {{ get_block_menu(_block) }}
        </a>

        <div class="collapse" id="{{ __id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="{{ __id}}_accordion">
                {% for __sub_block in _block.blocks %}
                    {% set __sub_id = __id + "_" + __sub_block.slug %}

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __sub_id }}" aria-expanded="false" aria-controls="__sub_id">
                        {{ get_block_menu(__sub_block) }}
                    </a>

                    <div class="collapse" id="{{ __sub_id }}" aria-labelledby="headingOne" data-bs-parent="#{{ __id}}_accordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            {{ get_links(__sub_block.links, 3, _breadcrumb, false) }}
                        </nav>
                    </div>
                {% endfor %}
            </nav>

            <nav class="sb-sidenav-menu-nested nav">
                {{ get_block_links(_block, 2, _breadcrumb, false) }}
            </nav>

        </div>
    {% endif %}
{% endmacro %}

{% macro get_dashboard(_dashboard, _breadcrumb) %}
    {{ get_title(_dashboard.menu) }}

    {% if _dashboard.blocks %}
        {% for __block in _dashboard.blocks %}
            {% if __block.blocks %}
                {{ get_three_level_menu(__block, _breadcrumb) }}
            {% else %}
                {{ get_two_level_menu(__block, _breadcrumb) }}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if _dashboard.links %}
        {{ get_one_level_menu(_dashboard.links, _breadcrumb) }}
    {% endif %}
{% endmacro %}

{% macro get_sidebar(_dashboards, _breadcrumb) %}
    {% for __dashboard in _dashboards %}
        {{ get_dashboard(__dashboard, _breadcrumb) }}
    {% endfor %}
{% endmacro %}
