# Passwords
*.secret
secret.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# JetBrains / PyCharm project settings
.idea/

# Visual Studio Code project settings
.vscode/

# Output directory for the html files
_html_cache/

# Output directory for the static files
_static/