{% extends "base.jinja2" %}

{% block content %}
    <div class="mt-5 ms-5">
        <img src="{{ static('assets/img/timeout.png')}}" alt="Timeout" style="width: 200px;" />

        <h4 class="mt-2">Your notebook took too long to be generated.</h4>
    </div>
{% endblock %}
