{% extends "base.jinja2" %}

{% block content %}
    <div class="mt-5 d-block mx-auto">
        <img src="{{ static('assets/img/wait.gif')}}" alt="Waiting for the notebook"
                           class="d-block mx-auto" style="width: 150px;" />
    </div>

    <div class="mt-3 d-block mx-auto">
        <p class="text-black center">Your notebook is being generated on the server and will be prysented when ready</p>
    </div>

    <script type = "text/JavaScript">
       setTimeout("location.reload();", 1000);
    </script>
{% endblock %}
