{% macro get_title(_title) %}
    <div class="sb-sidenav-menu-heading">{{ _title }}</div>
{% endmacro %}

{% macro get_menu_item(_dashboard, _menu_item) %}
    <a class="nav-link" href="{{ url("data", args=[_dashboard, _menu_item.slug]) }}">
        {% if _menu_item.icon %}
            <div class="sb-nav-link-icon"><i class="{{ _menu_item.icon }}"></i></div>
        {% endif %}
        {{ _menu_item.menu }}
    </a>
{% endmacro %}

{% macro get_menu(_dashboard) %}
    {{ get_title(_dashboard.menu) }}

    {# Simple menu with title and menu items (one level) #}
    {% if _dashboard.menu_items %}
        {% for __menu in _dashboard.menu_items  %}
            {{ get_menu_item(_dashboard.slug, __menu) }}
        {% endfor %}

    {# Advanced menu with title and menu blocks with sub menus (two or three levels) #}
    {% elif _dashboard.menu_blocks %}
        {% for __block in _dashboard.menu_blocks %}
            {% set id_2 = 'm2_' + _dashboard.slug + "_" + __block.slug %}

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ id_2 }}" aria-expanded="false" aria-controls="{{ id_2 }}">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-bars"></i></div>
                {{ __block.menu }}
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            {# Two level menu #}
            {% if __block.menu_items %}
                {% for __menu in __block.menu_items %}
                    <div class="collapse" id="{{ id_2 }}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            {{ get_menu_item(_dashboard.slug, __menu) }}
                        </nav>
                    </div>
                {% endfor %}
            {% endif %}

            {# Three level menu #}
            {% if __block.menu_blocks_________never %}
                <div class="collapse" id="{{ __block.id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="{{ __block.menu_blocks.id }}">
                        {% set id_3 = 'm3_' + _dashboard.slug + "_" + __block.slug %}
                        {% for __menu_3 in __block.menu_blocks.menu_item %}
                            {% if __menu_3.icon %}
                                <div class="sb-nav-link-icon"><i class="{{ __menu_3.icon }}"></i></div>
                            {% endif %}
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#{{ __menu_3.id }}" aria-expanded="false" aria-controls="{{ __menu_3.id }}">
                                {{ __menu_3.menu }}
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse" id="{{ id_3 }}" aria-labelledby="headingOne" data-bs-parent="#{{ id_2 }}">
                                <nav class="sb-sidenav-menu-nested nav">
                                    {% for __menu in __section.menu_items %}
                                        {{ get_menu_item(__menu) }}
                                    {% endfor %}
                                </nav>
                            </div>
                        {% endfor %}
                    </nav>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}


