<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Arcelor Mittal Ghent (be) - This software is licensed under the MIT license</div>
            <div>
                <a href="{{ url('page', args=['about']) }}">About</a>
                &middot;
                <a href="{{ url('page', args=['doc']) }}">Documentation</a>
            </div>
        </div>
    </div>
</footer>
