<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    {% include 'includes/brand.jinja2' %}
    {% include 'includes/toggle.jinja2' %}
    {% include 'includes/search.jinja2' %}
    {% include 'includes/dropdown.jinja2' %}
</nav>
