<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            {% set __core_menu = {
                "title": "Core",
                "menu_items": [
                    {"href": url("index"), "icon": "fas fa-tachometer-alt", "text": "Dashboard"}
                ]
            } %}

            {{ sidebar_factory.get_menu(__core_menu) }}

            {%  set __interface_menu = {
                "title": "Interface",
                "menu_blocks": [
                    {
                        "id": "collapseLayouts", "icon": "fas fa-columns", "text": "Layout",
                        "menu_items": [
                            {"href": url("layout_static"), "text": "Static Navigation"}
                        ]
                    },
                    {
                        "id": "collapsePages", "icon": "fas fa-book-open", "text": "Pages",
                        "sectioned_menu": {
                            "id": "sidenavAccordionPages",
                            "menu_sections": [
                                {
                                    "id": "pagesCollapseAuth",
                                    "text": "Authentication",
                                    "menu_items": [
                                        {"href": url("login"), "text": "Login"},
                                        {"href": url("register"), "text": "Register"},
                                        {"href": url("password"), "text": "Forgot Password"}
                                    ]
                                },
                                {
                                    "id": "pagesCollapseError",
                                    "text": "Error",
                                    "menu_items": [
                                        {"href": url("401"), "text": "401 Page"},
                                        {"href": url("404"), "text": "404 Page"},
                                        {"href": url("500"), "text": "500 Page"}
                                    ]
                                }
                            ]
                        }
                    }
                ]
            } %}

            {{ sidebar_factory.get_menu(__interface_menu) }}

            {% set __addons_menu = {
                "title": "Addons",
                "menu_items": [
                    {"href": url("charts"), "icon": "fas fa-chart-area", "text": "Charts"},
                    {"href": url("tables"), "icon": "fas fa-table", "text": "Tables"  },
                ]
            } %}

            {{ sidebar_factory.get_menu(__addons_menu) }}
        </div>
    </div>

    {% include "includes/user.jinja2" %}
</nav>
