<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        {% if user != None %}
            <div class="nav">
                {% for __dashboard in dashboards %}
                    {{ sidebar_factory.get_menu(__dashboard) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% include "includes/user.jinja2" %}
</nav>
