{% import "factories/cards.jinja2" as cards_factory %}
{% import "factories/content.jinja2" as content_factory %}
{% import "factories/sidebar.jinja2" as sidebar_factory %}

<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.jinja2" %}

    <body class="sb-nav-fixed">
        {% include "includes/nav.jinja2" %}

        <div id="page_wrapper">
            <div id="sidebar_wrapper">
                {% include "includes/sidebar.jinja2" %}
            </div>

            <div id="content_wrapper">
                <main>
                    <div id="notebook_wrapper" class="container-fluid p-0">
                        {% block content %}
                        {% endblock %}
                    </div>
                </main>

                {% include "includes/footer.jinja2" %}
            </div>
        </div>

        {% include "includes/js.jinja2" %}

        {% block specific_scripts %}
        {% endblock %}
    </body>
</html>
